@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #2b2b2b;
  margin: 0;
  padding: 0;
}
